*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  align-items: flex-end;
  width: 1140px;
  column-gap: 30px;
}

.result {
  
}

.result__video-container {
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video {
  width: 711px;
  object-fit: cover;
}

.search-form {
  display: flex;
  align-items: flex-start;
  column-gap: 40px;
}

.search-form__fieldset {
  flex-grow: 1;
}

.search-form__fieldset-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 5px;
}

.search-form__submit-button {
  flex-grow: 1;
}

.content__details {
  width: 100%;
  height: 100%;
  margin-bottom: 5px;
}

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.94;
}

.content__accent {
  color: #545050;
}

.content__list-container {
  display: flex;
  flex-direction: column;
  
  margin-top: 26px;
  height: 300px;
  overflow: auto;
}

.content__list-container:last-child {
  gap: 30px;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__card-link {
  color: #fff;
  text-decoration: none;
}

.content__video-card-description-container {
  width: 196px;
}

.content__video-card-title {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 6px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.content__video-card-description {
  font-size: 18px;
  font-weight: 400;
  line-height: 0.9;
  -webkit-line-clamp: 4;
	line-clamp: 4;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

.content__video-card {
  display: flex;
  align-items: flex-start;
}

.content__video-card-description-container {
  flex-grow: 1;
}

.content__video-card-thumbnail {
  
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}